Import the following libraries to run logistic_regression.py:
- os
- sys
- cv2
- numpy
- from tensorflow.keras.datasets import cifar10
- from sklearn.model_selection import train_test_split
- from sklearn.metrics import classification_report
- from sklearn.linear_model import LogisticRegression
- from sklearn.datasets import fetch_openml
- argparse

Import the following libraries to run nn_classifier.py:
- os
- sys
- cv2
- numpy
- from utils.neuralnetwork import NeuralNetwork
- from tensorflow
- from tensorflow.keras.datasets import cifar10
- from tensorflow.keras.models import Sequential
- from tensorflow.keras.layers import Dense
- from tensorflow.keras.optimizers import SGD
- from sklearn.preprocessing import LabelBinarizer
- from sklearn.model_selection import train_test_split
- from sklearn.metrics import classification_report
- from sklearn.datasets import fetch_openml
- argparse


